.ViewButton {
    height : 40px;
    weidth : 100%;
    background-color : teal ;
    cursor:pointer;
    border-radius: 30px;
    margin-top:10px;
    border: none;

    transition: 1s;

}


 .ViewButton span:nth-child(2) {
     transition: 0.5s;
     margin-right: 0px;
 }
 
 .ViewButton:hover  span:nth-child(2) {
     transition: 0.5s;
     margin-right: 45px;
 }
 


  span:nth-child(2) {
    position: relative;
    opacity: 0;
    margin-left:15px;

  }
  
span{
    font-weight: 700;
    color : white;
    position: relative;
    font-size:18px;
    text-align: center;
    margin-right:-15px;

    

}



.ViewButton:hover span:nth-child(2) {
    opacity:1;
   
}


