* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }

  body , html {
    height: 100%;
    margin:0;
    width: 100%; 
    
     
}
  /*  --------------Header----------------*/
  .header {
    color: #212529;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1;
    
}

.logo{
    margin-top: -17px;
    margin-left:90px;
    width: 150px;
    cursor: pointer;   

}


.item-list  {
  display: flex;
  width: 50%;
  align-items: center ;
  margin-bottom: 0px;
  margin-left : -10%;
}

.item {
  text-decoration: none;
  border-style: none;
  color : #191919  ;
  padding-right: 10%;
  font-weight: 600 ;
  cursor: pointer;
  margin-left:10px;

}
.item:hover{
  text-decoration: none;
  border-style: none;
  color : #191919  ;
  transform: scale(1.08) ;

}
.item span:after{
  display:block;
  content: '';
  border-bottom: solid 2px #000000;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.item span:hover:after{
  transform-origin:left;
  transform: scaleX(1); 
}

.icons{
  margin-right: 20px;
  width: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.icon {
  cursor: pointer;
}

.menu-icon {
  display: none;
}


.item-list2  { 
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  width: 40%;
  z-index: 99;
  background-color: rgb(247, 241, 241);
  border-radius: 0 0 30px 0;    
}


@media screen and (max-width: 880px) {
  .item-list {
    display: none;
  }

  .logo-list2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    padding: 40px;
   
  }

  .logo-list2 img {
    width: 40%;
    border-radius: 50%;
    margin-right:10px;
    margin-left :10px;
  
  } 

  .logo-list2 span {
      font-family:cursive;
      font-weight:700;
      font-size: 15px;
  }
  
  .menu-icon {
    display: block;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .item {
    text-align: left;
    height: 70px;
    border-bottom: white 2px solid;
    padding: 30px 10px ;

  }
 
 .item-list2{
      display:flex;
  }



}

.Basket {
  display: flex;
  
}
.Badge{
  background-color: teal;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px; 
  margin-left: 10px;
  margin-top: -12px;

}
.Badge p {

  text-align: center;
  font-size: 13px;
  font-weight: 700;

}

  /*  --------------Footer----------------*/


footer{
  width:100%;
  margin-top: 100px;


} 

footer ul 
{
margin : auto;

}


footer ul li {
list-style: none;
color: white;

  font-weight: 500;
  font-size: 20px;
}

footer ul li :hover {
  list-style: none;
  color: white;
  
  
  
  }

footer ul li:first-child
{
  font-weight: 900 ;
  font-size: 25px;

}


footer a {
  text-decoration: none;
  color: white;
}
.page-container{
margin-top : 70px  ;
}


/*--------------BOUTON--------------*/
